Import Necessary Libraries & read data

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('data/sequences.csv')

Basic data overview

In [23]:
# Display number of data
df.shape

(1096, 4)

In [42]:
# Display data types
df.dtypes

Family       int64
Gene         int64
Species      int64
Sequence    object
dtype: object

In [13]:
# Display the first few rows of the dataframe
df.head()

   Family  Gene  Species                                           Sequence
0       6    58       16  VNQLEALYRASAAGAKILLVMVSYLCALEMFLKGKKVDVIVGDKYG...
1       6    59       17  VNQLEALYQRAAAGSKILLVIVTYLCALEMFLKGKKADVIVGSKYG...
2       6    60       16  LEQLDLEVLYRSSPTGAKLVLILISYLCRLETFLNGEHLESWCGGQ...
3       6    61       17  LEELELEKLYPSAPTGAKTILIVMCYPGRLNLLNVQPGCCQYILNE...
4       6    66       18  LEQLDLEVLCRASSTGSKQILAITAYLCRLDIFLNEQYLDAWVGWR...

In [14]:
# Display basic statistics
df.describe()

            Family         Gene      Species
count  1096.000000  1096.000000  1096.000000
mean     23.575730    41.838504    13.213504
std      14.143676    26.516169     5.219041
min       0.000000     3.000000     3.000000
25%      12.000000    23.000000    10.000000
50%      24.000000    36.000000    15.000000
75%      35.000000    55.000000    17.000000
max      49.000000   121.000000    19.000000

In [15]:
# Check for missing values
df.isnull().sum()

Family      0
Gene        0
Species     0
Sequence    9
dtype: int64

In [18]:
# Check duplicates
df.duplicated().sum()

0

In [20]:
#check for the number of unique values in each column
print(df.nunique())

Family        50
Gene         118
Species       10
Sequence    1081
dtype: int64

In [30]:
# Check number of families
df['Family'].value_counts().sort_index()

Family
0     18
1     12
2     27
3     12
4     45
5     31
6     33
7     23
8     13
9     22
10    11
11    13
12    51
13    20
14    27
15    16
16    24
17    10
18    29
19    34
20    11
21    16
22    29
23    14
24    13
25    57
26    30
27    19
28    15
29    20
30    13
31    29
32    17
33    27
34    23
35    23
36    15
37    24
38    26
39    11
40    16
41    18
42    12
43    18
44    41
45    13
46    28
47    25
48    12
49    10
Name: count, dtype: int64

In [31]:
# Check number of genes
df['Gene'].value_counts().sort_index()

Gene
3      24
4       3
5      20
7       9
8       1
       ..
117     2
118     1
119     1
120     1
121     1
Name: count, Length: 118, dtype: int64

In [32]:
# Check number of species
df['Species'].value_counts().sort_index()

Species
3      93
4      98
10     95
11    112
14    102
15     95
16    125
17    120
18    128
19    128
Name: count, dtype: int64

In [48]:
# Check length of sequences
l = df['Sequence'].apply(lambda x: len(str(x)))
print("Mean: ", np.mean(l))
print(l)

Mean:  221.3029197080292
0       207
1       207
2       205
3       192
4       199
       ...
1091    250
1092    203
1093    203
1094    200
1095    158
Name: Sequence, Length: 1096, dtype: int64